.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.75rem;
  min-height: 6.25rem;
  padding: 1.25rem;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift{
  display: flex;
  align-items: center;
}

.subtotal__gift input{
  margin-right: 5px;
}

.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  min-height: 1.845rem;
  margin-top: .625rem;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
