%btn {
  display: inline-block;
  border-radius: 5px;
  padding: .5em 1.25em;
  margin: 3px;

  &:hover {
    transform: scale(.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-background(lighten($primary-color, 10%));
}

.btn-secondary {
  @extend %btn;
  @include set-background($secodary-color); 
}